.user-account {
    animation: userMenuExpand 200ms;
    padding: 20px;
}
.user-account .user-account-details {
    margin-top: 40px;
}
.user-account .user-account-input-name {
    width: 280px;
    margin-bottom: 20px;
}
.user-account .user-account-button-delete-posts {
    transition: 200ms;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}
.user-account .user-account-button-delete-account {
    transition: 200ms;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.user-account .user-account-button-delete-account:hover,
.user-account .user-account-button-delete-posts:hover,
.user-account-modal-button-delete-posts:hover {
    background-color: #c91717;
}
.user-account .user-account-button-delete-account-disabled {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: var(--color-white);
    font-size: 16px;
    border: none;
    background-color: #df191999;
    cursor: not-allowed;
}
.user-account-modal-button-delete-posts {
    transition: 200ms;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
