.main {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
}
.main .container {
    max-width: calc(1050px + 40px);
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
.main .container .content-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .container .content-banner .conversion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main .container .content-banner .conversion .title {
    width: 460px;
    color: var(--color-black);
    font-size: 40px;
}

.main .container .content-banner .conversion .btn-register {
    transition: 200ms;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .container .content-banner .conversion .btn-register:hover {
    background: var(--color-dark-blue);
}
.main .container .title-characteristics {
    color: var(--color-black);
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}
.main .container .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.main .container .cards .card-characteristics {
    transition: 200ms;
    position: relative;
    width: 300px;
    height: 260px;
    background: var(--color-white);
    border-radius: 10px;
    margin-bottom: 20px;
}
.main .container .cards .card-characteristics .feature {
    color: var(--color-dark);
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
}
.cards-numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.cards-numbers .card-numbers {
    transition: 200ms;
    width: 300px;
    height: 260px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.main .container .cards .card-characteristics:hover,
.cards-numbers .card-numbers:hover {
    background-color: var(--color-dark-background);
}
.cards-numbers .card-numbers .number {
    color: var(--color-dark);
    font-size: 40px;
    font-family: sans-serif;
}
.cards-numbers .card-numbers .feature {
    color: var(--color-dark);
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
