.user-container {
    position: relative;
    width: 209px;
    max-width: 209px;
    min-width: 209px;
    height: 213px;
    max-height: 213px;
    min-height: 213px;
    border-radius: 10px;
    background: var(--color-white);
}
.user-container .user-picture {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.user-container .user-picture .pencil-container {
    transition: 200ms;
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-container .user-picture .pencil-container:hover {
    background: var(--color-dark-orange);
}
.user-container .user-name {
    position: absolute;
    top: 20px;
    left: 92px;
    overflow: hidden;
    max-width: 107px;
    max-height: 65px;
    color: var(--color-dark);
    font-size: 16px;
}
.user-container .user-posts-text {
    position: absolute;
    top: 130px;
    left: 20px;
    color: var(--color-dark);
    font-size: 20px;
}
.user-container .user-posts {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: var(--color-aqua);
    font-size: 20px;
    font-family: sans-serif;
}
.user-container .user-likes-text {
    position: absolute;
    top: 130px;
    right: 30px;
    color: var(--color-dark);
    font-size: 20px;
}
.user-container .user-likes {
    position: absolute;
    bottom: 30px;
    left: 136px;
    color: var(--color-aqua);
    font-size: 20px;
    font-family: sans-serif;
}
