.user-information {
    animation: userMenuExpand 200ms;
    padding: 20px;
}
@keyframes userMenuExpand {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.user-menu-container {
    display: flex;
    align-items: center;
    gap: 14px;
}
.user-menu-container .user-menu-picture {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    border-radius: 50%;
    background: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;

    @media (max-width: 1000px) {
        width: 80px;
        min-width: 80px;
        height: 80px;
        min-height: 80px;
    }
}
.user-menu-container .user-menu-picture img {
    width: 100%;
}
.user-menu-container .user-menu-name {
    color: var(--color-dark);
    font-size: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 1000px) {
        font-size: 24px;
        width: 100%;
    }
}
.user-information .user-information-details {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.user-information-details-item {
    color: var(--color-dark);
    font-size: 20px;

    @media (max-width: 1000px) {
        font-size: 16px;
    }
}
.user-information-details-item span {
    font-weight: bold;
    font-family: sans-serif;
}
