.main-dashboard {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}
.main-dashboard .main-dashboard-content {
    max-width: calc(1260px + 40px);
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
.main-dashboard .main-dashboard-content .dashboard-header {
    display: flex;
    gap: 40px;
}
.menu-dashboard {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}
.menu-dashboard .menu-dashboard-tab {
    transition: 200ms;
    width: 122px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-dashboard .menu-dashboard-tab-selected {
    transition: 200ms;
    width: 122px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.up-button {
    animation: animation-up-button-fade-in 200ms;
    transition: 200ms;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--color-aqua);
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 10px 0 #00000033;
}
.up-button:hover {
    background-color: var(--color-dark-aqua);
}
@keyframes animation-up-button-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
