.options-post {
    @media (max-width: 1000px) {
        position: absolute;
        top: 50px;
        left: 0;
    }
}
.user-posted .options-post .options-post-icon {
    transition: 200ms;
    position: absolute;
    top: 15px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-background);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;

    @media (max-width: 1000px) {
        top: 0;
        left: 0;
    }
}
.user-posted .options-post .options-post-icon:hover {
    background: var(--color-dark-background);
}
.user-posted .options-post .options-post-icon::after {
    content: none;
}
.options-post-item {
    display: flex;
    align-items: center;
    gap: 5px;

    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: var(--bs-tertiary-bg);
}
