.user-posted .options-post .options-post-icon {
    transition: 200ms;
    position: absolute;
    top: 15px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-background);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;
}
.user-posted .options-post .options-post-icon:hover {
    background: var(--color-dark-background);
}
.user-posted .options-post .options-post-icon::after {
    content: none;
}
.options-post-item {
    display: flex;
    align-items: center;
    gap: 5px;

    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: var(--bs-tertiary-bg);
}
.modal-delete-btn-close {
    transition: 200ms;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-delete-btn-close:hover {
    background-color: var(--color-dark-blue);
}
.modal-delete-btn-delete {
    transition: 200ms;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-delete-btn-delete:hover {
    background-color: var(--color-dark-orange);
}
.modal-edit-btn-close {
    transition: 200ms;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-edit-btn-close:hover {
    background-color: var(--color-dark-blue);
}
.modal-edit-btn-edit {
    transition: 200ms;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-edit-btn-edit:hover {
    background-color: var(--color-dark-orange);
}
.modal-edit-btn-remove-img {
    transition: 200ms;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-edit-btn-remove-img:hover {
    background-color: var(--color-dark-orange);
}
.modal-edit-btn-remove-video {
    transition: 200ms;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-edit-btn-remove-video:hover {
    background-color: var(--color-dark-orange);
}
