.user-edit {
    animation: userMenuExpand 200ms;
    padding: 20px;
}
.user-edit .user-edit-details {
    margin-top: 40px;
    position: relative;
    min-height: 260px;
}
.user-edit-input-name {
    width: 280px;
}
.user-edit-details .user-edit-button-change-picture {
    transition: 200ms;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.user-edit-details .user-edit-button-change-picture:hover {
    background-color: var(--color-dark-orange);
}
.user-edit-details .user-edit-button-save {
    transition: 200ms;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 200ms;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    margin-top: 3px;
}
.user-edit-details .user-edit-button-save:hover {
    background-color: var(--color-dark-blue);
}
.user-edit-details .user-edit-button-save.disabled {
    background-color: #0285bd99;
    cursor: not-allowed;
}
