.user-post-container {
    width: 1011px;
    height: 213px;
    max-height: 213px;
    min-height: 213px;
    border-radius: 10px;
    background: var(--color-white);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.user-post-container .user-message {
    max-width: 971px;
    width: 100%;
    height: 133px;
    max-height: 133px;
    min-height: 133px;
    border-radius: 10px;
    background: var(--color-background);
    border: none;
    padding: 10px;
    color: var(--color-dark);
    font-size: 16px;
    outline: none;
    resize: none;
}
.user-post-container .user-message::placeholder {
    color: var(--color-dark);
    font-size: 16px;
}
.user-post-container .user-post-footer {
    display: flex;
    justify-content: space-between;
}
.user-post-container .user-post-footer .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 3px;
}
.user-post-footer .wrap .attach-image {
    transition: 200ms;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-post-footer .wrap .attach-image:hover {
    background: var(--color-dark-orange);
}
.user-post-footer .wrap .title-publish {
    max-width: 400px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: var(--color-background);
    border: none;
    padding: 0 10px;
    outline: none;
    color: var(--color-dark);
    font-size: 16px;
}
.user-post-footer .wrap .title-publish::placeholder {
    color: var(--color-dark);
    font-size: 16px;
}
.user-post-container .btn-publish {
    transition: 200ms;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    border: none;
    margin-top: 3px;
}
.user-post-container .btn-publish:hover {
    background-color: var(--color-dark-blue);
}
